.category-card-main {
    border: 2px solid rgb(27, 255, 242);
    border-radius: 25px;
    background-size: cover; /* Ensures the background images cover the entire card */
    background-position: center; /* Center the background images */
}

.title-container {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 75px;
}

.title {
    font-size: 3.0rem;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 65%;
    height: 4px;
    border-radius: 2px;
    background: rgb(255, 0, 0);
    transform: translateX(-50%);
    animation: underlineColorChange 2s infinite;
}

@keyframes underlineColorChange {
    0% {
        background: rgb(27, 255, 242);
    }
    50% {
        background: rgb(159, 233, 240);
    }
    100% {
        background: rgb(27, 255, 242);
    }
}

.welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 16%; /* Ensure it takes full height of its parent container */
}

.store-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}

.category-card, .product-display-card, .shopping-cart-card {
    height: auto; /* Allows each card to expand independently */
}

.category-card {
    width: 15%;
    background: #121212;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subcategory-container.show .category-card li {
    background-color: rgba(255, 255, 255, 0.2); /* Change background opacity to 0.2 */
}

.category-card .server-name-bubble-category {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(27, 255, 242);
    color: #121212;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 5px 5px 4px #12121267;
}

.category-card h3 {
    margin-top: 10px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.category-card h3::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 65%;
    height: 4px;
    border-radius: 2px;
    background: rgb(255, 0, 0);
    transform: translateX(-50%);
    animation: underlineColorChange 2s infinite;
}

.category-card ul {
    list-style-type: none;
    margin-top: 15px;
    padding-left: 0;
    width: 100%;
}

.category-card li {
    margin-inline: 20px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.category-card li:last-child {
    margin-bottom: 5px;
}

.category-card li:hover {
    color: rgb(27, 255, 242);
}

.subcategory-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.subcategory-container.show {
    max-height: 500px; /* Adjust based on content */
}

.subcategory-list {
    margin-top: 5px;
    padding-left: 0;
    list-style-type: none;
}

.subcategory-list li {
    cursor: pointer;
    margin-bottom: 10px;
    color: rgb(212, 212, 212);
    font-weight: bold;
    transition: color 0.3s;
    font-size: 15px;
    padding: 0;
    background: transparent;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align vertically */
}

.category-icon {
    margin-right: 5px; /* Add space between the icon and text */
}

.arrow-icon {
    margin-right: 8px; /* Space between the arrow and the text */
    color: rgb(212, 212, 212); /* Same color as subcategory text */
    transition: 0.3s;
}

.original-price {
    color: gray;
    text-decoration: line-through;
    margin-right: 8px;
  }
  
  .sale-price {
    color: rgb(27, 255, 242); /* Style for sale price */
    font-weight: bold;
  }

/* Optional: Change arrow color on hover */
.subcategory-list li:hover .arrow-icon {
    /*color: rgb(27, 255, 242);*/
    margin-left: 3px;
}

.subcategory-list li:hover {
    color: rgb(27, 255, 242);
}

.active-subcategory {
    color: rgb(27, 255, 242);
}

/* Separator styles */
.category-separator {
    pointer-events: none; /* Disable mouse events */
    color: rgb(212, 212, 212); /* Use a light color for visibility */
    font-weight: normal; /* Optional: Adjust font weight */
    font-size: 16px; /* Adjust font size as needed */
    text-align: center; /* Center the separator */
    margin: 10px 0; /* Add some margin for spacing */
    opacity: 0.7; /* Optional: Slightly transparent for effect */
}

/* Product Display Card Styles */
.product-display-card {
    width: 65%;
    background: #121212;
    border-radius: 15px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-title {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 10px;

}

.product-title, .cart-title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.product-title::after, .cart-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 65%;
    height: 4px;
    border-radius: 2px;
    background: rgb(255, 0, 0);
    transform: translateX(-50%);
    animation: underlineColorChange 2s infinite;
}

.product-display-card .server-name-bubble-product {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(27, 255, 242);
    color: #121212;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 5px 5px 4px #12121267;
}

/* Shopping Cart Card Styles */
.shopping-cart-card {
    width: 15%;
    background: #121212;
    border-radius: 15px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-title {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 10px;

}

.shopping-cart-card .server-name-bubble-cart {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(27, 255, 242);
    color: #121212;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 5px 5px 4px #12121267;
}

.separator {
    text-align: center;
    margin: 10px 0;
    color: rgb(168, 168, 168);
    pointer-events: none;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product-card {
    width: 270px; /* Adjusted width based on 35% increase from original 200px */
    background: #1e1e1e; 
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.product-image {
    max-width: 100%; /* Ensure images fit the card */
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-price {
    font-weight: bold;
    color: rgb(27, 255, 242);
}

.product-description {
    font-size: 0.9rem;
    color: rgb(212, 212, 212);
}

.info-button{
    border: 2px solid rgb(27, 255, 242);
    border-radius: 25px;
    background-color: transparent;
    color: white;
    font-size: 18px; /* Adjust font size as needed */
    padding: 3%;
    margin-right: 10px;
    transition: color 0.3s;
    font-weight: 600;
}

.cart-button{
    border: 2px solid rgb(27, 255, 242);
    background-color: rgb(27, 255, 242);
    border-radius: 15px;
    padding: 5px 8px;
    font-size: 20px;
    color: white;
    transition: color 0.3s;
}

.cart-button:hover{
    color: #1b1b1b;

}


.info-button:hover{
    color: rgb(27, 255, 242);

}

.cart-list {
    list-style: none;
    padding: 0;
    text-align: left; /* Align cart items to the left */
    width: 100%; /* Take full width for left alignment */
}

.cart-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    list-style-type: none; /* Removes default dot */
}

.cart-list li::before {
    content: '»'; /* Adds the » symbol before each item */
    color: rgb(27, 255, 242); /* Customize the color as needed */
    font-weight: bold;
    margin-right: 8px; /* Space between symbol and text */
}

.remove-button {
    background: none;
    border: none;
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-size: 1rem;
}

.first {
    font-weight: bold;
    color: rgb(27, 255, 242);
}

.first-2 {
    font-weight: bold;
    color: rgb(27, 255, 242);
}

.first-p,
.first-2 {
    margin: 0 !important;
    padding: 0 !important;
}

.pay-button {
    background-color: rgb(27, 255, 242);
    border: none;
    color: #121212;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 15px;
    transition: background-color 0.3s;
    transition: color 0.2s;
    align-self: center;
}

.pay-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.pay-button:hover {
    background-color: rgb(20, 204, 194);
    color: rgb(255, 255, 255);
}

.last-purchase-card {
    width: 100%;
    background: #121212;
    border-radius: 15px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .server-name-bubble-last-purchase {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(27, 255, 242);
    color: #121212;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 5px 5px 4px #12121267;
  }
  
  .last-purchase-title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }
  
  .last-purchase-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 65%;
    height: 4px;
    border-radius: 2px;
    background: rgb(255, 0, 0);
    transform: translateX(-50%);
    animation: underlineColorChange 2s infinite;
  }
  
  .minecraft-head {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    margin: 10px 0;
  }
  
  .last-purchase-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .last-purchase-amount {
    font-size: 1rem;
    color: rgb(27, 255, 242);
    font-weight: bold;
  }







