<app-navbar></app-navbar>

<div class="container">
  <h2 class="faq-title">Tvůj účet</h2>

  <div class="card-container">
    <!-- Player Skin Card (Left Card) -->
    <div class="team-card player-skin-card">
      <img class="player-image" [src]="playerSkinUrl" alt="Player Skin" />
      <div class="player-info">
        <h3 class="player-name">{{ account.data.id.username }}</h3>
      </div>
      <p>
        <br>
        <span class="first">Trest</span> » {{ punishmentTime != -1 ? "Ano" : "Ne" }}<br>
        <span class="first">Do</span> » {{ (punishmentTime == -1 ? "..." : formatBanDate(punishmentTime)) }}<br>
      </p>
    </div>

    <!-- Global Information Card (Middle Card) -->
    <div class="team-card global-info-card">
      <div class="server-name-bubble-global">
        <span><i class="fa-solid fa-chart-simple"></i></span>
      </div>
      <h3>Globální Informace</h3>
      <p>
        <span class="first">Jméno</span> » {{ account.data.id.username }}<br>
        <span class="first">Rank</span> » {{ ((account.data.temprank == 'player' ? account.data.rank : account.data.temprank).charAt(0).toUpperCase() + (account.data.temprank == 'player' ? account.data.rank : account.data.temprank).slice(1).toLowerCase()) + (account.data.temprank == 'player' ? "" : " (do " + formatBanDate(account.data.rank_since) + ")" ) }}<br>
        <span class="first">Token</span> » {{ account.data.tokens }}x<br><br>
        <span class="first">Registrace</span> » {{ registrationDate }}<br>
        <span class="first">Poslední Aktivita</span> » {{ lastLoginDate }}<br><br>
        <span class="first">AutoLogin</span> » {{ account.data.auth_data.autologin ? 'Ano' : 'Ne' }}<br>
        <span class="first">IP</span> » 
        <span [ngClass]="{'blurred': !showIp}" class="ip-address">{{ account.data.client_data.last_address }}</span>
        <i class="fa-solid" [ngClass]="{'fa-eye': !showIp, 'fa-eye-slash': showIp}" (click)="toggleIpVisibility()"></i>
      </p>
    </div>

    <!-- Server-Specific Information Card (Right Card) -->
    <div class="card-navigation">
      <div class="arrow arrow-left" (click)="previousTab()">
        &#10094;
      </div>
      <div class="server-info-container">
        <div *ngIf="currentTab === 'boxFight'" class="team-card server-info-card">
          <div class="server-name-bubble-server">
            <span><i class="fa-solid fa-shield-halved"></i></span>
          </div>
          <h3>BoxFight Server</h3>
          <p>
            <span class="first">Evoluce</span> » {{ account.data.boxfight_data.evolution }}/5<br>
            <span class="first">V Úschovně</span> » {{ account.data.boxfight_data.experience_storage }}x Levelů<br>
            <span class="first">Klan</span> » {{ account.data.boxfight_data.clanName == "null" ? 'V Žádném' : account.data.boxfight_data.clanName }}<br><br>
            <span class="first">Přístup do AFK</span> » 
            <span [ngClass]="{'green-tick': account.data.boxfight_data.afkSeconds > 0, 'red-cross': account.data.boxfight_data.afkSeconds === 0}">
              {{ account.data.boxfight_data.afkSeconds > 0 ? 'Ano' : 'Ne' }}
            </span><br>
            <span class="first">Přístup do AFK+</span> » 
            <span [ngClass]="{'green-tick': account.data.boxfight_data.afkPlusSeconds > 0, 'red-cross': account.data.boxfight_data.afkPlusSeconds === 0}">
              {{ account.data.boxfight_data.afkPlusSeconds > 0 ? 'Ano' : 'Ne' }}
            </span><br><br>
            <span class="first">Úložiště Vrtáku</span> » {{ account.data.boxfight_data.xpDrillST }}<br>
          </p>
        </div>

        <div *ngIf="currentTab === 'survival'" class="team-card server-info-card">
          <div class="server-name-bubble-server">
            <span><i class="fa-solid fa-shield-halved"></i></span>
          </div>
          <h3>Survival Server</h3>
          <p>
            <span class="first">Zlaťáků</span> » {{ account.data.survival_data.money }}x<br>
            <span class="first">Sušenky</span> » {{ account.data.survival_data.cookies }}x<br>
            <span class="first">Evoluce</span> » {{ account.data.survival_data.evoluce }}<br><br>

            <span class="first">Přístup do Krystalové Zóny</span> » 
            <span [ngClass]="{'green-tick': account.data.survival_data.krystalova_seconds > 0, 'red-cross': account.data.survival_data.krystalova_seconds === 0}">
              {{ account.data.survival_data.krystalova_seconds > 0 ? 'Ano' : 'Ne' }}
            </span><br>
            <span class="first">Přístup do Stokové Zóny</span> » 
            <span [ngClass]="{'green-tick': account.data.survival_data.stokova_seconds > 0, 'red-cross': account.data.survival_data.stokova_seconds === 0}">
              {{ account.data.survival_data.stokova_seconds > 0 ? 'Ano' : 'Ne' }}
            </span><br><br>
            <span class="first">Utraceno</span> » {{ account.data.survival_data.money_spent }}x Zlaťáků<br>
          </p>
        </div>
      </div>
      <div class="arrow arrow-right" (click)="nextTab()">
        &#10095;
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
