<app-navbar></app-navbar>

<div class="container">
    <h2 class="faq-title">ČASTO KLADENÉ OTÁZKY</h2>

    <!-- Category Buttons -->
    <div class="category-buttons">
        <button
            (click)="setCategory(categories[0])"
            [ngClass]="{'active': selectedCategory === categories[0]}"
            [ngStyle]="{'background-image': selectedCategory === categories[0] ? 'none' : 'url(https://cdn.discordapp.com/attachments/991027839488901180/1278792445471232060/image.png?ex=672bbdc5&is=672a6c45&hm=21b9c5a74ffe246482024ffd0ae10072e78d7708c1b9efbd001a15b278004588&)'}"
        >
            Globální
        </button>
        <button
            (click)="setCategory(categories[1])"
            [ngClass]="{'active': selectedCategory === categories[1]}"
            [ngStyle]="{'background-image': selectedCategory === categories[1] ? 'none' : 'url(https://cdn.discordapp.com/attachments/991027839488901180/1278790669220970586/image.png?ex=672bbc1e&is=672a6a9e&hm=5c43cf312a7cfb4cff9313091beb4241ab1755fb064631353e64c2022d189384&)'}"
        >
            ElytraWars
        </button>
        <button
        (click)="setCategory(categories[3])"
        [ngClass]="{'active': selectedCategory === categories[3]}"
        [ngStyle]="{'background-image': selectedCategory === categories[3] ? 'none' : 'url(https://cdn.discordapp.com/attachments/991027839488901180/1278791134994235515/image.png?ex=672bbc8d&is=672a6b0d&hm=f3c7a44a56f3f43e4c826194b0b405b04b578bb296ba0c7b9d2f6d484af396e9&)'}"
    >
        BoxFight
    </button>
        <button
            (click)="setCategory(categories[2])"
            [ngClass]="{'active': selectedCategory === categories[2]}"
            [ngStyle]="{'background-image': selectedCategory === categories[2] ? 'none' : 'url(https://cdn.discordapp.com/attachments/991027839488901180/1278792259047002152/image.png?ex=672bbd99&is=672a6c19&hm=78c50be3959a0498ecebb17a791a97284aedb1306b3fa36dcb8085a0bcef47af&)'}"
        >
            Survival
        </button>
    </div>

    <div class="faq-container">
        <div *ngFor="let faq of selectedCategory.faqs; let i = index" [ngClass]="{ 'open': faq.open }" class="faq-card">
            <div class="faq-question" (click)="toggleFaq(i)">
                <span>{{ faq.question }}</span>
                <span [ngClass]="{ 'arrow-up': faq.open, 'arrow-down': !faq.open }" class="arrow">&#9660;</span>
            </div>
            <div class="faq-answer" [ngStyle]="{ 'max-height': faq.open ? '200px' : '0' }">
                <p [innerHtml]="getSafeHtml(faq.answer)"></p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
