/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

/* FAQ Title */
.faq-title {
    text-align: center;
    font-size: 3.0rem;
    margin-top: 150px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.faq-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 65%;
    height: 4px;
    border-radius: 2px;
    background: rgb(27, 255, 242);
    transform: translateX(-50%);
    animation: underlineColorChange 2s infinite;
}

@keyframes underlineColorChange {
  0% {
    background: #7e31e9;
  }
  50% {
    background: #6b07f7;
  }
  100% {
    background: #7e31e9;
  }
}

.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.category-buttons button {
    background-color: transparent;
    border: 2px solid #a76df8;
    color: #a76df8;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    background-size: cover; /* Ensure the image covers the button */

    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
    background-size: cover;
    background-position: center;
}

.category-buttons button.active {
    background-color: #7a3dd1;
    color: rgb(27, 27, 27);
    border-color: #7a3dd1;
}

.category-buttons button:not(.active) {
    background-color: rgba(0, 0, 0, 0.5);
}

.category-buttons button:not(.active) {
    background-color: rgba(0, 0, 0, 0.5);
}

.category-buttons button:not(.active):nth-of-type(1) {
    background-image: url('https://i.imgur.com/t3jYQCl.png');
}

.category-buttons button:not(.active):nth-of-type(2) {
    background-image: url('https://i.imgur.com/4fZoLer.png');
}

.category-buttons button:not(.active):nth-of-type(3) {
    background-image: url('https://i.imgur.com/XkuXZWR.png');
}

/* FAQ Container */
.faq-container {
    width: 80%;
    margin: 0 auto;
}

/* FAQ Card */
.faq-card {
    background-color: rgb(22, 22, 22);
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
    transition: margin-bottom 0.3s ease;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.faq-card.open {
    margin-bottom: 20px;
}

/* FAQ Question */
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.faq-question::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #7a3dd1;
    transition: width 0.3s ease;
}

.faq-card.open .faq-question::after {
    width: 100%;
}

/* FAQ Answer */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 20px 20px 0 20px;
    transition: max-height 0.3s ease, padding-top 0.3s ease;
    color: rgb(250, 250, 250);
}

.faq-card.open .faq-answer {
    max-height: 240px;
    padding-top: 20px;
}

.highlight-blue {
    color: #1bfff2 !important;
    text-decoration: none;
}

.highlight-bold-blue {
    color: #1bfff2 !important;
    font-weight: bold !important;
}
