<div class="modal-header">
    <h5 class="modal-title">Platba pomocí PaySafeCard</h5>
</div>
<div class="modal-body">
    <div class="giftcard-section">
        <p class="aware">Pozor, tento proces není automatizovaný a vyřešení platby může trvat až 24h!</p>
        <p class="filling">---</p>
        <p class="order"><span class="order-numbers">1.</span> Vyplnění 16-ti místného kódu a následného odeslání<br>
        <span class="order-numbers">2.</span> Rozkliknutí odkazu, který Vás přesměruje na Discord do kanálu s detaily Vaší platby<br>
        <span class="order-numbers">3.</span> Sledování objednávky a další případné řešení komplikací (v kanále na Discordu)<br>
        <span class="order-numbers">4.</span> Užívej zakoupených předmětů!</p>
        <p class="filling">---</p>

        <h5>1. Vyplnění 16-ti místného kódu</h5>

        <!--<label for="giftcard" class="giftcard-label">Číslo Karty (16 znaků)</label> -->
        <div class="giftcard-input">
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <span class="giftcard-separator">-</span>
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <span class="giftcard-separator">-</span>
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <span class="giftcard-separator">-</span>
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
            <input type="text" maxlength="1" class="giftcard-part" />
        </div>
        <h5>2. Kliknout na talčítko Odeslat</h5>
        <div class="modal-footer">
            <p class="filling">»  </p><button class="btn btn-primary">Odeslat</button>
        </div>

    </div>
</div>

