<app-navbar></app-navbar>
<br><br><br><br><br>

<div class="title-container">
    <h1 class="title">Nábory</h1>
  </div>

  
<div class="nabor-container">
    <div class="nabor-card">
        <div class="server-name-bubble-nabor">
          <span><i class="fa-solid fa-code"></i></span>
        </div>
        <h3 class="nabor-title">Developer Nábor</h3>
        <h5 class="requirements">Podmínky</h5>
        <ul>
          <li>Věk není omezen</li>
          <li>Dobré komunikační dovednosti a příjemné chování</li>
          <li>Vlastnit funkční a dobrý mikrofon</li>
          <li>Zkušenosti s nastavováním serveru</li>
          <li>Odhodlanost, spolehlivost a zapálení do projektu</li>
        </ul>
        <h5 class="requirements">Výhody</h5>
        <ul>
          <li>Přátelský A-Team</li>
          <li>Nové využitelné zkušenosti</li>
          <li>Výhody ranku Tiger</li>
        </ul>
        <a href="https://discord.moonix.cz" target="_blank" class="apply-button">Podat Přihlášku</a>
      </div>

  <div class="nabor-card">
    <div class="server-name-bubble-nabor">
      <span><i class="fa-solid fa-hammer"></i></span>
    </div>
    <h3 class="nabor-title">Builder Nábor</h3>
    <h5 class="requirements">Podmínky</h5>
    <ul>
      <li>Minimální věk 14 let. (vyjímky možné)</li>
      <li>Dobré komunikační dovednosti a příjemné chování</li>
      <li>Vlastnit funkční a dobrý mikrofon</li>
      <li>Kreativita, originalita a stavící dovednosti</li>
      <li>Ovládat pokročilé příkazy pluginů (WorldEdit, GoBrush...)</li>
    </ul>
    <h5 class="requirements">Výhody</h5>
    <ul>
      <li>Přátelský A-Team</li>
      <li>Nové využitelné zkušenosti</li>
      <li>Výhody ranku Earth</li>
    </ul>
    <a href="https://discord.moonix.cz" target="_blank" class="apply-button">Podat Přihlášku</a>
  </div>

  <div class="nabor-card">
    <div class="server-name-bubble-nabor">
      <span><i class="fa-solid fa-hands-helping"></i></span>
    </div>
    <h3 class="nabor-title">Helper Nábor</h3>
    <h5 class="requirements">Podmínky</h5>
    <ul>
      <li>Minimální věk 15 let. (vyjímky možné)</li>
      <li>Dobré komunikační dovednosti a příjemné chování</li>
      <li>Vlastnit funkční a dobrý mikrofon</li>
      <li>Psát slušně a gramaticky správně</li>
      <li>Umět ovládat moderační příkazy a znát informace o serveru</li>
    </ul>
    <h5 class="requirements">Výhody</h5>
    <ul>
      <li>Přátelský A-Team</li>
      <li>Nové využitelné zkušenosti</li>
      <li>Výhody ranku Earth</li>
    </ul>
    <a href="https://discord.moonix.cz" target="_blank" class="apply-button">Podat Přihlášku</a>
  </div>
</div>

<div class="falling-blocks">
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
</div>

<app-footer></app-footer>
