<nav class="navbar">
  <div class="navbar-left">
    <img src="https://i.imgur.com/IJXUQeK.png" alt="Logo" class="logo">
  </div>

  <div class="navbar-center">
    <ul class="nav-list">
      <li><a href="/" (click)="navigateTo('/')">Domů</a></li>
      <li><a href="/pravidla">Pravidla</a></li>
      <li><a href="/team">A-Team</a></li>
      <li><a href="#" class="obchod" (click)="openExternalLink('https://obchod.moonix.cz')">OBCHOD</a></li>
      <li><a href="/vote">Hlasovat</a></li>
      <li><a href="/vip">VIP</a></li>
      <li><a href="/faq" class="faq">FAQ</a></li>
    </ul>
  </div>

  <div class="navbar-right">
    <a *ngIf="!isLogged()" class="prihlaseni" (click)="openLoginPopup()">Přihlásit</a>

    <!-- Profile and Panel buttons shown when logged in -->
    <div *ngIf="isLogged()" class="user-actions">
      <a class="btn btn-panel" (click)="openPanel()">Panel</a>
      <div class="profile-container">
        <a class="profile-circle" (click)="logout()">
          <img [src]="getMinecraftHeadUrl()" alt="Profile Picture">
        </a>
      </div>
    </div>
  </div>
</nav>
