<nav class="navbar">
  <div class="navbar-left">
    <img src="https://i.imgur.com/IJXUQeK.png" alt="Logo" class="logo">
  </div>

  <div class="navbar-center">
    <ul class="nav-list">
      <li><a [routerLink]="['/moonix-showcase/']">Domů</a></li>
      <li><a [routerLink]="['/moonix-showcase/pravidla']">Pravidla</a></li>
      <li><a [routerLink]="['/moonix-showcase/team']">A-Team</a></li>
      <li>
        <div class="sparkles-wrapper">
          <a [routerLink]="['/moonix-showcase/store']" class="obchod">OBCHOD</a>
        </div>
      </li>
      <li><a [routerLink]="['/moonix-showcase/vote']">Hlasovat</a></li>
      <li><a [routerLink]="['/moonix-showcase/vip']">VIP</a></li>
      <li class="vicedrop" (mouseenter)="toggleVicedrop(true)" (mouseleave)="toggleVicedrop(false)">
        <a href="#" class="vicedrop-toggle">
          Více <i [class]="isVicedropOpen ? 'fas fa-chevron-down' : 'fas fa-chevron-down'" class="chevron"></i>
        </a>
        <div *ngIf="isVicedropOpen" class="vicedrop-menu">
          <a [routerLink]="['/moonix-showcase/faq']">FAQ</a>
          <a [routerLink]="['/moonix-showcase/nabor']">nábor</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <a *ngIf="!isLogged()" class="prihlaseni" (click)="openLoginPopup()">Přihlásit</a>

    <div *ngIf="isLogged()" class="user-actions">
      <a class="btn btn-panel" (click)="openPanel()">Panel</a>
      <div class="profile-container">
        <a class="profile-circle" (click)="logout()">
          <img [src]="getMinecraftHeadUrl()" alt="Profile Picture">
        </a>
      </div>
    </div>
  </div>
</nav>
