<nav class="navbar">
  <div class="navbar-left">
    <img src="https://i.imgur.com/IJXUQeK.png" alt="Logo" class="logo">
  </div>

  <div class="navbar-center">
    <ul class="nav-list">
      <li routerLink="/moonix-showcase/" routerLinkActive="active">Domů</li>
      <li routerLink="/moonix-showcase/pravidla" routerLinkActive="active">Pravidla</li>
      <li routerLink="/moonix-showcase/team" routerLinkActive="active">A-Team</li>
      <li>
        <div class="sparkles-wrapper">
          <li routerLink="/moonix-showcase/store" routerLinkActive="active" class="obchod">OBCHOD</li>
        </div>
      </li>
      <li routerLink="/moonix-showcase/vote" routerLinkActive="active">Hlasovat</li>
      <li routerLink="/moonix-showcase/vip" routerLinkActive="active">VIP</li>
      <li class="vicedrop" (mouseenter)="toggleVicedrop(true)" (mouseleave)="toggleVicedrop(false)">
        <span class="vicedrop-toggle">
          Více <i class="fas fa-chevron-down chevron"></i>
        </span>
        <div *ngIf="isVicedropOpen" class="vicedrop-menu">
          <li routerLink="/moonix-showcase/faq" routerLinkActive="active">FAQ</li>
          <li routerLink="/moonix-showcase/nabor" routerLinkActive="active">Nábor</li>
        </div>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <span *ngIf="!isLogged()" class="prihlaseni" (click)="openLoginPopup()">Přihlásit</span>

    <div *ngIf="isLogged()" class="user-actions">
      <span class="btn btn-panel" (click)="openPanel()">Panel</span>
      <div class="profile-container">
        <span class="profile-circle" (click)="logout()">
          <img [src]="getMinecraftHeadUrl()" alt="Profile Picture">
        </span>
      </div>
    </div>
  </div>
</nav>
