<app-navbar></app-navbar>

<div class="vote-container">
  <div class="vote-content-wrapper"> <!-- Wrapper for left and right content -->
    <!-- Right Content Section (Moved Right) -->
    <div class="paragraph-field-container">
      <h2>HLASUJ PRO NÁS</h2>
      <div class="text-field-container">
        <input type="text" [(ngModel)]="nickname" placeholder="Zadej svůj MC Nick" class="text-field" />
      </div>
      <div class="button-container">
        <button (click)="openUrl('craftlist')" class="vote-button">
          CraftList.org <i class="fa fa-external-link"></i>
        </button>
        <button (click)="openUrl('minecraft-list')" class="vote-button">
          Minecraft-List.cz <i class="fa fa-external-link"></i>
        </button>
        <button (click)="openUrl('minecraftservery')" class="vote-button">
          MinecraftServery.eu <i class="fa fa-external-link"></i>
        </button>
      </div>
    </div>
    <div class="image-container">
      <img src="https://i.imgur.com/dFuOAt3.png" alt="Voting Image" class="voting-image-1">
    </div>
  </div>

  <!-- New Review Content with Left Image -->
  <div class="review-content-wrapper"> <!-- New Wrapper for left image and right content -->
    <div class="review-image-container">
      <img src="https://i.imgur.com/woAl6Hm.png" alt="Review Image" class="review-image">
    </div>
    <div class="review-container">
      <h3>NEBO NÁM NAPIŠ RECENZI</h3>
      <p>Ohodnoť nás pozitivní recenzí a získej 1x Key Klíč</p>
      <button (click)="openReviewPage()" class="review-button">
        Napsat Recenzi
      </button>
    </div>
  </div>
</div>

<div class="falling-blocks">
  <i class="fas fa-thumbs-up block"></i>
  <i class="fas fa-thumbs-up block"></i>
  <i class="fas fa-thumbs-up block"></i>
  <i class="fas fa-thumbs-up block"></i>
  <i class="fas fa-thumbs-up block"></i>
</div>

<app-footer></app-footer>
