<app-navbar></app-navbar>
<div class="container mx-auto py-8 px-4">
  <div class="project-rules">
    <h2>Pravidla projektu Moonix</h2>
  </div>
  <div *ngFor="let category of categories; let i = index" class="mb-lg-5">
    <h2 class="text-2xl font-semibold mb-4 title">{{ category.title }}</h2>
    <table class="w-full bg-gray-800 text-white">
      <thead>
      <tr class="bg-gray-700">
        <th class="p-3 w-24">Sekce</th>
        <th class="p-3 w-24">Pravidlo</th>
        <th class="p-3">Obsah</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rule of category.rules"
          class="border-b border-gray-700 hover:bg-gray-600 transition-colors duration-200"
          [@fadeIn]>
        <td class="p-3">{{rule.section}}</td>
        <td class="p-3">{{rule.rule}}</td>
        <td class="p-3">{{rule.content}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="falling-blocks">
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
  <i class="fas fa-cube block"></i>
</div>


<app-footer></app-footer>
