<app-navbar></app-navbar>

<div class="team-container">
  <h1 class="team-title">Majitel</h1>

  <div class="card-container">
    <!--<div class="team-card">
      <img class="player-image" src="https://mineskin.eu/armor/bust/H1senk0/100.png" alt="Player Image" />
      <div class="player-info">
        <h3 class="player-name">H1senk0</h3>
        <p class="membership-duration">od 26. srpna 2024</p>
        <div class="icons">
          <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="h1senk0"></i>
          <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Neumí programovat"></i>
        </div>
      </div>
    </div>-->

    <div class="team-card">
      <img class="player-image" src="https://mineskin.eu/armor/bust/Sweet_Duck/100.png" alt="Player Image" />
      <div class="player-info">
        <i class="fa-solid fa-asd"></i><h3 class="player-name">Sweet_Duck</h3>
        <p class="membership-duration">od 14. června 2024</p>
        <div class="icons">
          <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="sweet_duck"></i>
          <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Umí vše"></i>
        </div>
      </div>
    </div>
        <div class="team-card">
      <img class="player-image" src="https://mineskin.eu/armor/bust/Sweet_Duck/100.png" alt="Player Image" />
      <div class="player-info">
        <i class="fa-solid fa-asd"></i><h3 class="player-name">Sweet_Duck</h3>
        <p class="membership-duration">od 14. června 2024</p>
        <div class="icons">
          <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="sweet_duck"></i>
          <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Umí vše"></i>
        </div>
      </div>
    </div>
  </div>

  <h1 class="team-title admin-leaders-title">vedení týmu</h1>

  <div class="card-container">
    <!--<div class="team-card admin-leaders-card">
      <img class="player-image" src="https://mineskin.eu/armor/bust/Atrosikk/100.png" alt="Player Image" />
      <div class="player-info">
        <h3 class="player-name">Atrosikk</h3>
        <p class="membership-duration">od 14. června 2024</p>
        <div class="icons">
          <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="atrosikk"></i>
          <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="CHAT-GPT master!"></i>
        </div>
      </div>
    </div>-->

    <div class="team-card admin-leaders-card">
      <img class="player-image" src="https://mineskin.eu/armor/bust/JakubIsHeree/100.png" alt="Player Image" />
      <div class="player-info">
        <i class="fa-solid fa-asd"></i><h3 class="player-name">JakubIsHeree</h3>
        <p class="membership-duration">od 29. říjen 2024</p>
        <div class="icons">
          <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="jakub.jacob"></i>
          <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Leader quote"></i>
        </div>
      </div>
    </div>
  </div>

  <h1 class="team-title developers-title">DEVELOPER TÝM</h1>

<div class="card-container">
  <div class="team-card developers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/RoysTM/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-crown"></i><h3 class="player-name">RoysTM</h3>
      <p class="membership-duration">od 26. srpna 2024</p>
      <div class="icons">
        <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="roystm"></i>
        <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="nemám slovní kapacitu"></i>
      </div>
    </div>
  </div>

  <div class="team-card developers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/Aragondir/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-asd"></i><h3 class="player-name">Aragondir</h3>
      <p class="membership-duration">od 31. října 2024</p>
      <div class="icons">
        <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="aragondir"></i>
        <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Dev quote"></i>
      </div>
    </div>
  </div>

  <div class="team-card developers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/PERR1_/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-asd"></i><h3 class="player-name">PERR1_</h3>
      <p class="membership-duration">od 29. srpna 2024</p>
      <div class="icons">
        <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="hytman23"></i>
        <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Dev quote"></i>
      </div>
    </div>
  </div>
</div>

<h1 class="team-title helpers-title">HELPER TÝM</h1>

<div class="card-container">
  <div class="team-card helpers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/novych19/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-crown"></i><h3 class="player-name">novych19</h3>
      <p class="membership-duration">od 14. června 2024</p>
      <div class="icons">
        <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="novych19"></i>
        <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="'Neumím dělat SS'"></i>
      </div>
    </div>
  </div>

  <!--<div class="team-card helpers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/HUNTERCZ/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-asd"></i><h3 class="player-name">HUNTERCZ</h3>
      <p class="membership-duration">od 26. srpna 2024</p>
      <div class="icons">
        <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="dejsikiwi"></i>
        <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Já jsem Hunter!"></i>
      </div>
    </div>
  </div> -->
</div>

<h1 class="team-title builders-title">builDER TÝm</h1>

<div class="card-container">
  <div class="team-card builders-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/ItzVitik/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-asd"></i><h3 class="player-name">ItzVitik</h3>
      <p class="membership-duration">od 27. srpna 2024</p>
      <div class="icons">
        <i class="fab fa-discord icon discord-icon" aria-hidden="true" data-tooltip="_vitekk"></i>
        <i class="fas fa-quote-right icon quote-icon" aria-hidden="true" data-tooltip="Builder quote"></i>
      </div>
    </div>
  </div>
</div>

<h1 class="team-title youtubers-title">Partneři</h1>

<div class="card-container">
  <div class="team-card youtubers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/Azunn_SK/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-asd"></i><h3 class="player-name">Azunn_SK</h3>
      <p class="membership-duration">od 20. srpna 2024</p>
      <div class="icons">
        <i class="fab fa-youtube icon youtuber-icon" aria-hidden="true" data-tooltip="Azunn"></i>
      </div>
    </div>
  </div>
  <div class="team-card youtubers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/GreenSmoker/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-asd"></i><h3 class="player-name">GreenSmoker</h3>
      <p class="membership-duration">od 28. srpna 2024</p>
      <div class="icons">
        <i class="fab fa-youtube icon youtuber-icon" aria-hidden="true" data-tooltip="GreenSmoker"></i>
      </div>
    </div>
  </div>
  <div class="team-card youtubers-card">
    <img class="player-image" src="https://mineskin.eu/armor/bust/Terdyx/100.png" alt="Player Image" />
    <div class="player-info">
      <i class="fa-solid fa-asd"></i><h3 class="player-name">Terdyx</h3>
      <p class="membership-duration">od 3. srpna 2024</p>
      <div class="icons">
        <i class="fab fa-youtube icon youtuber-icon" aria-hidden="true" data-tooltip="Terdyx"></i>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
