.modal-header {
  background-color: #1b1b1b;
  color: white;
  border-bottom: none;
}

.modal-body {
  background-color: #1b1b1b;
  color: rgba(255, 255, 255, 0.7);
}

.modal-footer {
  background-color: #1b1b1b;
  border-top: none;
}

.btn-close {
  color: white;
}

.form-label {
  color: rgb(27, 255, 242);
  font-weight: 600;
}

.form-control {
  background-color: #333;
  border: 1px solid #444;
  color: white;
}

/* Remove blue border on focus */
.form-control:focus {
  border-color: rgb(27, 255, 242); /* Custom border color on focus */
  box-shadow: none; /* Remove the blue outline */
  outline: none; /* Remove the default focus outline */
}

.btn-secondary {
  background-color: #333;
  border: 0px solid #444;
  color: white;
  border-radius: 15px;

}

.btn-primary {
  background-color: rgb(27, 255, 242);
  border: 0px solid #444;
  color: #121212;
  border-radius: 15px;
}

.alert-danger {
  background-color: #b22222;
  color: white;
  border: none;
}

.form-control::placeholder {
  color: rgb(112, 112, 112);
}

.modal-title {
  margin-left: 170px;
}
