<footer class="py-4">
  <div class="container text-center">
    <div class="social-icons mb-4">
      <a href="https://discord.moonix.cz/" target="_blank" aria-label="Discord"><i class="fab fa-discord"></i></a>
      <a href="https://www.tiktok.com/@moonixcz" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
      <a href="https://www.youtube.com/@MoonixMC" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    </div>
    <p>&copy; 2024 Moonix. Všechna práva vyhrazena.</p>
    <p class="addon" >Vytvořil Hisen & Duck s hromadou ☕ a 🦆</p>
  </div>
</footer>
