<footer class="py-4">
  <div class="container text-center">
    <div class="social-icons mb-4">
      <a href="https://discord.moonix.cz/" target="_blank" aria-label="Discord"><i class="fab fa-discord"></i></a>
      <a (click)='SendMessage("Nedostupný..", "X")' aria-label="X"><i class="fab fa-x"></i></a>
      <a (click)='SendMessage("Nedostupný..", "YouTube")' aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    </div>
    <p>&copy; 2024 Moonix. Všechna práva vyhrazena.</p>
  </div>
</footer>
